{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h3>{{ title }}</h3>
    <p>Name: {{ user.get_full_name() }}</p>
    <p>Image URL: {{ user.image_url }}</p>
    <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
    <form method="post" action="/users/{{user.id}}/delete" style="display: inline;">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <a href="/users" class="btn btn-secondary">Back to List</a>
{% endblock %}
